  <div>
    <%= form.label :title, 'Título' %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.submit 'Criar Tarefa' %>
  </div>
<% end %>
